@import url(../../index.css);

li {
  display: flex;
  margin: 1.4rem 0;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--read-background-color);
}

section p {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: 400;
}

section header {
  margin-bottom: 0.6rem;
}

footer p {
  font-size: 0.8rem;
}
p span {
  margin-left: 2rem;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 0.75rem;
}
